.fondo {
    background-color: rgb(212, 149, 149);
}

p {
    font-size: 20px;
    color: rgb(62, 3, 65);
}

.mitexto {
color: aliceblue;
}


 h2 {
    font-size: 30px;
    background-color: blue;
 }

.title{
    color: brown
}

#principal{
    font-size: 3em;
}

.logo {
width: 200px;

}
#textos{
border: 2px solid red;
width: 50vw;
margin: auto;
padding: 1em;

}


.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 0px 1em 0px 1em;
    border-radius: 10%;
    transition: 0.5s;
    
}

.cards:hover{
    background-color: rgb(4, 247, 247);
}