.fondo {
    background-color: rgb(212, 149, 149);
}

p {
    font-size: 20px;
    color: rgb(62, 3, 65);
}

.mitexto {
color: aliceblue;
}


 h2 {
    font-size: 30px;
    background-color: blue;
 }

.title{
    color: brown
}

#principal{
    font-size: 60px;
}

.logo {
width: 200px 
}