.fondo {
    background-color: rgb(212, 149, 149);
}

p {
    font-size: 20px;
    color: rgb(62, 3, 65);
}

.mitexto {
color: aliceblue;
}


 h2 {
    font-size: 30px;
    background-color: blue;
 }

.title{
    color: brown;
    font-size: 50px;
}

#principal{
    font-size: 3em;
}

.logo {
width: 200px;
height: 200px;

}
#textos{

width: 50vw;
margin: auto;
padding: 1em;
display: flex;
flex-direction: column;

}


.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 2em 1em 1em 1em;
    border-radius: 10%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    
}

.cards:hover{
    background-color: rgb(47, 170, 10);
}

.tituloscartas{
    font-size: 30px;
}

#cards-container{
   
    width: 85vw;
    margin: auto;
    margin-top: 1,5em;
    border: 5px solid rgb(63, 60, 60);
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}